@import "./library.scss";
@import "./base/typography.scss";

.ecc-content {
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 $content-gutter;
  &__body {
    padding: 32px;
    line-height: 1.8em;
  }
  &__h1 {
    color: $ecc-blue;
  }
}

.ecc-flexbox {
  display: flex;
}