$link-underline-gray: #c7d2dc;
$link-blue: #3a73ac;

$header-blue: #325070;
$ecc-blue: #325070;

$light-gray: #f5f5f5;
$gray: #999;
$paragraph-color: #4d4d4d;

$footer-blue: #243442;
$footer-title-foreground: #eee;
$footer-foreground: #ddd;
$footer-bottom-color: #eceae4;
$footer-bottom-foreground: $gray;

$acts-red: #913d3d;
