$link-underline-gray: #c7d2dc;
$link-blue: #3a73ac;

$header-blue: #325070;
$ecc-blue: #325070;

$footer-blue: #243442;
$footer-title-foreground: #eee;
$footer-foreground: #ddd;
$footer-bottom-color: #eceae4;
$footer-bottom-foreground: #999;

$acts-red: #913d3d;

